h1{
    border-style: solid;
    padding: 0.2em;
    background-color: #006747;
    color: white;
    margin: 0.5em;
}
h2{
    padding: 0.2em;
    margin: 0.5em;
}
body{
    min-height: 75rem;
    padding-top: 4.5rem;
    font-family: 'Lato', sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
}
.important{
    color: palevioletred;
}

.tg, th, td{
    border: 1px solid black;
}

#myname{
    color: yellow;
}

#current{
    color: darkgreen;
}

img{
    border-radius: 50%;
}